@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

*{
    font-family: 'ubuntu', sans-serif;
}

body{
    background-image: url(fondoLevel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightblue;
    display: flex;
  }

.villa{
    border-radius: 30px;
}

.section2{
    align-items: center;
}

.estadisticas{
    font-size: 35px;
    background-color: #276E90;
    border-radius: 10px;
    color: #fff;
    border-color: #000;
    margin: 15px;
    padding: 15px;
}

button{
    align-tracks: center;
    align-content: center;
    align-self: center;
    align-items: center;
    width: 95px;
    height: 43px;
    font-size: 18px;
    background-color: #F2AA1F;
    border-radius: 6px;
    border-color: transparent;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.boton:hover{
    scale: 1.1;
}
